<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>systemLibraries</key>
	<array>
		<string>StoreKit.framework</string>
		<string>SystemConfiguration.framework</string>
	</array>
	<key>weakSystemLibraries</key>
	<array>
		<string>AdSupport.framework</string>
	</array>
	<key>forceLoadLibraries</key>
	<true/>
	<key>buildSettings</key>
	<dict/>
	<key>ignoredFilesRegexes</key>
	<array>
		<string>Android.*</string>
	</array>
</dict>
</plist>
